* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
}

header,
main,
footer {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  height: 10vh;
}

nav {
  background-color: grey;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 80vh;
  background-color: green;
}

header {
  background-color: red;
}

footer {
  background-color: violet;
}
