* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  display: flex;
  height: 100vh;
}

header,
nav,
article,
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  width: 90vw;
  height: 10vh;
}

nav,
aside {
  width: 10vw;
}

header {
  background-color: red;
}

nav {
  background-color: grey;
}

aside {
  height: 80vh;
  background-color: burlywood;
}

article {
  height: 80vh;
  width: 80vw;
  background-color: green;
}

footer {
  background-color: violet;
}

#mainBox {
  display: flex;
}

#boxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10%;
  align-content: center;
  width: 70vw;
  height: 80vh;
  justify-content: space-around;
}

.ul-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ul-aside {
  height: 80vh;
  justify-content: space-around;
}

.li-style {
  padding: 10px;
  background-color: orange;
}

.box1 {
  height: 20vh;
  width: 50vw;
  background-color: violet;
}

.box2 {
  height: 10vh;
  width: 25vw;
  background-color: rgb(230, 82, 28);
}
